@media (max-width: 750px) {

#radio-player .control, #radio-player .volume {
    display: block;
    float: left;
	position:relative;
}

#radio-player .volume .mute {
    float: left;
}

	#nowplaying{
		float:none;
    position:absolute;
	top:14px;
	left:10px;
	z-index:99999;
	text-align:left;
		}

 }
	
.dsk,.closebutton {
	display:none;
}
.mbl {
	display:block!important;
}
